SECRET_KEY=change-me-to-a-random-string

MAIL_SERVER=smtp.example.com
MAIL_PORT=465
MAIL_USE_SSL=1
MAIL_USERNAME=
MAIL_PASSWORD=
ADMINS=admin@example.com

TENCENT_SECRET_ID=
TENCENT_SECRET_KEY=

ELASTICSEARCH_URL=
REDIS_URL=redis://localhost:6379/0